{{- $href := "" -}}
{{- $text := .Text | safeHTML -}}

{{- if strings.HasPrefix .Destination "http" -}}
  {{- $href = .Destination -}}
  <a href="{{ $href | safeURL }}">{{ $text }}</a>
{{- else -}}
  {{- $page := .Page.GetPage .Destination -}}
	{{- if and $page (not ($page.PublishDate.After now)) -}}

    {{- if eq $page.Type "youtube" -}}
      {{- $href = printf "https://www.youtube.com/watch?v=%s" $page.Params.youtubeId -}}
    {{- else -}}
      {{- $href = $page.RelPermalink -}}
    {{- end -}}

    <a href="{{ $href | safeURL }}">{{ $text }}</a>
  {{- else -}}
    <span class="unpublished">{{ $text }}</span>
  {{- end -}}
{{- end -}}
